@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:100%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

a{
  text-decoration:none
}

#top{
    font-size: 100px;
}

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://free4kwallpapers.com/no-watermarks/originals/2019/02/16/cyberpunk--wallpaper.jpg) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
  transition: 0.25s;
}

.menu:hover{
    background-color: #68379E;
}

.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px;
}

.sides, .info{
  flex: 0 0 auto;
  width:50%
  position: relative;
  padding-left: 20px;
}

.item{
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
}

.game-image{
    transition: transform 0.25s, filter 1s ease-in-out;
}
.game-image:hover{
    transform: scale(1.05);
}

#login{
    position: absolute;
    top : 20px;
    left : 20px;
}
#login:hover{
    color: pink
}
#admin_login{
    position: absolute;
    top : 50px;
    left : 20px;
}
#admin_login:hover{
    color: pink
}

.caption {
    padding-top: 10px;
    position: relative;
    opacity: 100%;
    left: 12%;
    width: 75%;
    display: block;
    background-color: #68379E;
    color: white;
    border: 1px;
    font-weight: bold;
    padding-bottom: 10px;
    border-radius: 5%;
    cursor: pointer;
}

.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{
  padding:5% 10%;
  text-align:justify;
  background-color: black;
}
